# PIXI
.pixi/*
!.pixi/config.toml

# Environment
.env
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# ML Artifacts
ml_service/data/

# DS_Store
.DS_Store

# LaTeX
*.aux
*.log
*.out
*.pdf
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz

# VS Code
.vscode/

